/*Estilos Gerais*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: #f7f7f7;
    display: grid;
    margin-top: 20px; 
    gap: 60px; 
    justify-items: center; 
    margin-top: 60px;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p,
h1,
h2,
h3{
    margin: 0px;
}

p{
    font-size: 20px;
}

.header{
    display: grid;
    justify-items: center;
    gap: 60px;
}

.menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a{
    display: block;
    background: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: #000;

}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;  
}


.conteudo-1{
    display: grid;
    background: rgb(255, 255, 255); 
    text-align: right; 
    position: relative;
    align-content: center;
    justify-items: end; 
    gap: 20px;
    padding: 40px;
}

.detalhe{
    width: 60px;
    height: 4px;
    background: red;
    position: absolute;
    top: 30px;
    right: -30px;

}

.botao{
    background: #e21;
    text-decoration: none;
    padding: 15px 20px;
    color: #fff;
    border-radius: 4px;
}

.bike{
    max-width: 100%;
    display: block;
}

/*segunda parte*/

.subtitulo{
    font-size: 64px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 40px;
    align-self: center;
}


.conteudo-2{
    background: rgb(255, 255, 255);
    padding: 40px;
}

.conteudo-22{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.conteudo-22 p{
    grid-column: 2;  
}

.rodape{
    background: white;
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}











