/*Estilos Gerais*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: #f7f7f7;
    display: grid;
    margin-top: 20px; 
    gap: 60px; 
    justify-items: center; 
    margin-top: 60px;
}

p,
h1,
h2,
h3{
    margin: 0px;
}

p{
    font-size: 20px;
}



.menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a{
    background: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: #000;

}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;  
}


.conteudo-1{
    display: grid;
    background: rgb(255, 255, 255); 
    text-align: right; 
    position: relative;
    align-content: center;
    justify-items: end; 
    gap: 20px;
    padding: 40px;
}

.detalhe{
    width: 60px;
    height: 4px;
    background: red;
    position: absolute;
    top: 30px;
    right: -30px;

}

.botao{
    background: #e21;
    text-decoration: none;
    padding: 15px 20px;
    color: #fff;
    border-radius: 4px;
}

.bike{
    max-width: 100%;
    display: block;
}











